
#particles-js{
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
      /* position:absolute !important;
  top: 100px; */
  /* z-index: 1; */
  }
  .nav-item a{
    font-size:23px;
  }
  .custom-btn{
    background-color: rgb(99, 18, 175);
    color:white;
    border-radius: 500000000000000000px;
  }
  .custom-btn:hover{
    background-color: rgb(70, 30, 107);
    color:white;
    border-radius: 5000000000000px;}
#particles-js canvas{
  position:absolute !important;
  top: 50px;
  z-index: 1;
}
.homepageimg{
  z-index: 4;
}
.homepagetopbox{
  z-index: 4;
}
.homepagetopbox h1{
  font-weight: 800;
  font-size: 60px;
}
.homepagetopbox h4{
  font-size: 30px;
}
.homepagetopbox button{
  font-size: 25px;
  padding: 10px 30px;

}
.aboutmetitle h1{
  display: inline;
  text-align: center;
  font-weight: bold;
}
.aboutmetitle{
  display:flex;
  align-items: center;
  justify-content: center;
}
.purpletext{
  color:rgb(101, 33, 165);
}
.aboutmebottombox{
  display:flex;
  flex-direction: row;
  margin-top: 75px;
}
.aboutmebottomrightbox{
  width:50%;
}
.aboutmebottomleftbox{
  width:50%;
  margin-left:100px;
}
.bluetextforaboutme{
  color: rgb(58, 0, 216);
}
.tabledataforaboutme{
  margin-right: 30px;
}
.gototopbutton{
  position: fixed;
  bottom: 20px;
  right: 50px;
}
html{
  scroll-behavior: smooth;
}
.aboutme{
  padding-top: 50px;
  padding-bottom: 50px;
}
.skillsandabilitiestitlesecondword{
  color:rgb(252, 255, 58)
}
.skillsandabilitiestitlefirstword{
  color: white;
}
.skillset{
  display: flex;
  padding: 20px 0px;
  background-color:rgb(105, 3, 201);
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
.theskills{
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50%;
  background-color:rgb(62, 11, 110);
}
.skillset h1{
  display: flex;
}
.skillset h1 svg{
  align-items: center;
  color: white;
}
.skill img{
  height: 100px;
  width: 100px;
}
.skill h2{
  color:white;
}
.skill{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: #1D1E26;
 height: 167px;
 padding: 10px;
 width: 227px;
 margin: 10px 0px;
}
.educationtitle{
  margin-top: 20px;
  text-align: center;
}
.educationbox{
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  box-shadow: 14px 13px 17px -1px black;
}
.eduboxtext{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.education{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eduimage{
  width: 35%;
  height: 100%;
}
.eduimage img{
  height: 100%;
  width: 100%;
}
.custom-btn a{
text-decoration: none !important;
color: white !important;
}
.custom-btn a:hover{
text-decoration: none !important;
color: white !important;
}
.typewrite {
  color: red !important;
  text-decoration: none !important;
}
.typewrite:hover{
text-decoration: none !important;
}
.typewrite{
  color: black !important;
}
.contacttitle{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
}
.imageboxforcontact{
  padding-left: 100px;
}
.contactbox{
  display:flex;
  width: 80%;
  box-shadow: 0px 3px 27px -5px black;
  justify-content: center;
}
.inputbox{
  display: flex;
  border:2px solid black;
  margin: 10px 0px;
  padding: 6px 6px;
  border-radius: 10px;
}
.inputbox input{
  border: none;
 
}
.contactbox textarea{
  border: none;
}
form{
  display: flex;
  flex-direction: column;
  
}
.formboxforcontact{
  width: 40%;
  padding: 30px;
}
#message{
  display: flex;
}
.submit-btn{
  width: 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: purple;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.submit-btn svg{
  margin-left: 10px;
}
footer{
  background-color: #303739;
  color: white;
}
.wrap{
  color: red;
}
.first-text{
  color: black;
}